# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log
